@model Enterprise_Web.Models.Contribution

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cons_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cons_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cons_comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cons_comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cons_submit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cons_submit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cons_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cons_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.file_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.file_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image.img_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.img_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Student_Detail.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Student_Detail.userId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
