@model IEnumerable<Enterprise_Web.Models.Contribution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribution</h2>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>
<br />

<div class="table-responsive">
    <table class="table table-striped table-sm ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cons_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_submit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cons_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File.file_Title)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Image.img_Title)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.User_Student_Detail.userId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>
                    @Html.DisplayFor(modelItem => item.cons_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_submit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cons_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File.file_Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image.img_Title)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.User_Student_Detail.userId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.consID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.consID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.consID })
                </td>
            </tr>
        }

    </table>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="mydirectorypath/js/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
<div>
    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
</div>