@model Enterprise_Web.Models.Guest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gst_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_doB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_doB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gst_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gst_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.facName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.facName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gstID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
