
@{
    ViewBag.Title = "AdminDashBoard";
}

<h2>AdminDashBoard</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="list-group">
    <ul style=" font-size: 20px">
        <li>
            @Html.ActionLink("My profile", "AdminProfile", "Admins")
        </li>
        <li>
            @Html.ActionLink("Manage Contributions", "ContributionManagements", "Contributions")
        </li>
        <li>
            @Html.ActionLink("Dashboard(đang làm)", "DashboardReport", "Admins")
        </li>
        <li>
            @Html.ActionLink("Report(đang làm)", "Report", "Admins")
        </li>
        <li>
            @Html.ActionLink("Setting Closure date", "Index", "Closure_Day")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Manage Accounts
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Manage Students", "Index", "Students")</li>
        <li>@Html.ActionLink("Manage MCs", "Index", "Marketing_Coordinator")</li>
        <li>@Html.ActionLink("Manage MMs", "Index", "Marketing_Manager")</li>
    </ul>
</div>

