
@{
    ViewBag.Title = "AdminDashBoard";
}

<h2>AdminDashBoard</h2>


<div class="list-group">
    <ul style=" font-size: 20px">
        <li>
            @Html.ActionLink("My profile", "AdminProfile", "Admins")
        </li>
        <li>
            @Html.ActionLink("Manage Contributions", "ContributionsManagement", "Contributions")
        </li>
        <li>
            @Html.ActionLink("Dashboard", "DashboardReport", "Admins")
        </li>
        <li class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Accounts
            </a>

            <a class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @Html.ActionLink("Manage Students", "Index", "Students", new { @class = "dropdown-item" })
                @Html.ActionLink("Manage MCs", "Index", "Marketing_Coordinator", new { @class = "dropdown-item" })
                @Html.ActionLink("Manage MMs", "Index", "Marketing_Manager", new { @class = "dropdown-item" })
            </a>
        </li>
        <li>
            @Html.ActionLink("Report", "Report", "Admins")
        </li>
        <li>
            @Html.ActionLink("Setting Closure date", "ClosuredateSetting", "Admins")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</div>
