@model IEnumerable<Enterprise_Web.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_doB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin_username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_doB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.admID }) |
            @Html.ActionLink("Details", "Details", new { id=item.admID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.admID })
        </td>
    </tr>
}

</table>
