@model Enterprise_Web.Models.User_Marketing_Manager_Detail

@{
    ViewBag.Title = "MmProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>Marketing Manager Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mkmID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkmID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_gender)
        </dt>

        @if (@Model.mkm_gender == "M")
        {
            <span>Male</span>
        }
        else
        {
            <span>Female</span>
        }

        <dt>
            @Html.DisplayNameFor(model => model.mkm_doB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_doB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mkmID } @*new { /* id = Model.PrimaryKey */ }*@) |
    @Html.ActionLink("Change Password", "", new { /* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "MmDashboard")
</p>
