@model Enterprise_Web.Models.User_Marketing_Manager_Detail

@{
    ViewBag.Title = "MmProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MmProfile</h2>

<div>
    <h4>User_Marketing_Manager_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkmID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkmID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_doB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_doB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkm_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkm_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
