@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav flex-column">
    </ul>

    if (User.Identity.GetUserId() != null)
     {
        var rolesArray = Roles.GetRolesForUser().FirstOrDefault();
        if (rolesArray == "Admin")
        {
            <li>@Html.ActionLink("Administrator Dashboard", "AdminDashBoard", "Administrators")</li>
            <li>@Html.ActionLink("Update Information", "UpdateInfo", "Administrators")</li>
            <li>@Html.ActionLink("Change Password", "ChangePassword", "Administrators")</li>
            <li>@Html.ActionLink("Log out", "Logout", "Home")</li>
        }

    }
}
else
{
    <ul class="nav flex-column">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink" })</li>
    </ul>
}
