@model Enterprise_Web.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.std_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_doB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_doB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.facName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.facName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
