@model IEnumerable<Enterprise_Web.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="engine.asp" method="post" name="form1" id="form1">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.img_Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.img_Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.imgID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.imgID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.imgID })
                </td>
            </tr>
        }
    </table>    
</form>




