@model Enterprise_Web.Models.ContributionViewModels

@{
    ViewBag.Title = "CreateContribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateContribution", "User_Student_Detail", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>Contribution</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cons_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cons_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cons_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cons_comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cons_comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cons_comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cons_submit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cons_submit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cons_submit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="File" name="file" id="file" value="Choose File" />
            <button type="submit" value="Create">Upload</button>
        </div>
    </div>
}
    <div>
        @Html.ActionLink("Upload Image", "")
        @Html.ActionLink("Term and conditions", "")
        @Html.ActionLink("Back to List", "Index")
    </div>
