@model IEnumerable<Enterprise_Web.Models.Contribution>

<p>
    @Html.ActionLink("Create New", "CreateContribution")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cons_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cons_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cons_submit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cons_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File.file_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Student_Detail.userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cons_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cons_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cons_submit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cons_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File.file_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Student_Detail.userId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditContribution", new { id=item.consID }) |
            @Html.ActionLink("Details", "DetailsContribution", new { id=item.consID }) |
            @Html.ActionLink("Delete", "DeleteContribution", new { id=item.consID })
        </td>
    </tr>
}

</table>
