@model Enterprise_Web.Models.User_Marketing_Coordinator_Detail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User_Marketing_Coordinator_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mkc_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkc_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkc_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkc_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkc_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkc_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkc_doB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkc_doB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mkc_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mkc_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
